body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.company-overview-box {
  margin-bottom: 100px;

  position: relative;
  color: black;
}

.company-overview-box .company-name {
  margin-bottom: 25px;

  font-size: 48px;
  font-weight: 900;
}

.company-overview-box .company-about {
  font-size: 16px;
  text-align: justify;
  line-height: 1.5em;
}

.company-key-metrics-box .company-key-metrics {
  width: 100%;
}

.welcome-box {
  position: relative;
  color: black;
}

.welcome-box .welcome-title {
  margin-bottom: 40px;

  font-size: 48px;
  font-weight: 900;
}

.welcome-box .welcome-subtitle {
  font-size: 28px;
  font-weight: 400;
}
