body {
  text-align: center;
}

.company-key-metrics {
  width: 100%;
}

.company-overview-box {
  text-align: center;
}

.company-key-metrics-box {
  text-align: center;
}

.welcome-title {
  font-size: 48px;
  font-weight: 550;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.welcome-subtitle {
  font-size: 28px;
  font-weight: 400;
}
